apiVersion: 1

datasources:
  - name: ErrorProbe-Loki
    uid: errorprobe-loki
    type: loki
    url: http://errorprobe-loki:{{.LokiPort}}
    access: proxy
    isDefault: true
    jsonData:
      maxLines: 1000
